/*
 * SPDX-FileCopyrightText: (C) 2023 Federico Meloda
 * SPDX-FileCopyrightText: (C) 2024 Ruggero Lot <ruggero90@gmail.com>
 *
 * SPDX-License-Identifier: CC-BY-4.0
 */

* {
	  font-size: 12px;
    /*  https://www.nerdfonts.com/ */
    font-family: "SauceCodePro Nerd Font", monospace;
	  font-weight: bold;
}

window#waybar {
	  background: #292b2e;
	  color: #fdf6e3;
}

#workspaces,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#bluetooth,
#backlight,
#network,
#language,
#custom-wireguard,
#idle_inhibitor,
#tray {
	  background: #1a1a1a;
}

#workspaces button {
	  padding: 0 4px;
	  color: #fdf6e3;
}
#workspaces button.focused {
	  background: #ff00ff;
	  color: #000;
    border-radius:0;
}

#pulseaudio {
	  color: #ff00ff;
}
#memory {
	  color: #2aa198;
}
#cpu {
	  color: #00ffff;
}
#battery {
	  color: #00ff00;
}
#mode {
	  color: #00ff00;
}
#disk {
	  color: #b58900;
}

#idle_inhibitor,
#custom-wireguard,
#network
{
	  color: #ffff00;
}

#pulseaudio,
#clock,
#memory,
#cpu,
#backlight,
#bluetooth,
#network,
#custom-wireguard,
#tray,
#language,
#disk {
	  padding: 0 5px;
}

#idle_inhibitor{
	  padding-left: 10px;
	  padding-right: 5px;
}

#battery{
    padding: 0 7px;
}

#network.interface {
	  padding-left: 10px;
	  padding-right: 2px;
}
#network.band {
	  padding-left: 2px;
	  padding-right: 5px;
}


#clock{
	  /* background:  */
	  background-color: #1a1a1a;
	  color: #ffff00;
}

#language,
#battery.charging,
#battery.plugged {
	  background-color: #ffff00;
	  color: #000000;
}


#mpd {
    padding: 0 10px;
    color: #ffffff;
}
